body {
    margin: auto 0;
    padding: 0;
}

.main-head {
    display: flex;
    list-style: none;
    font-size: bold;
    font-weight: bolder;
    margin: 0;
    padding: inherit;
    background-color: white;
    border: 1px solid gray;
}

.col-data {
    color: red;
    font-weight: bold;
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

span {
    border: 2px solid black;
    height: 80px;
    width: 60px;
    padding-right: 12px;
    border-radius: 16px;
}

.con-box {
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bolder;
    margin: 5px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 130px;
    height: 12px;
}

.fa-user-circle-o {
    background-color: chartreuse;
    padding: 10px;
    border-radius: 16px;
}

@media only screen and (max-width:600px) {
    body {
        position: absolute;
        margin: auto;
    }
    .main-head {
        padding: 0;
        margin: 0;
    }
}


/* BODY*/

.container {
    background-color: #ddd;
}

.content {
    margin: 0% 8%;
}

.row {
    padding: 10px;
    height: 70vh
}

.cl-left {
    position: relative;
    width: 50%;
    float: left;
}

img {
    width: 70%;
}

.cl-right {
    width: 50%;
    float: right;
}

.h-text {
    color: gray;
}

b-cont {
    display: flex;
}

.r-text {
    display: flex;
    border: 2px solid black;
    background-color: rgb(243, 245, 129);
    width: 100px;
    height: 30px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 0.3em;
    float: right;
}

.top-right {
    position: absolute;
    font-weight: bolder;
    top: 8px;
    right: 180px;
    margin-top: 22%;
    color: white;
}

.bottom-left {
    position: absolute;
    font-weight: bold;
    bottom: 8px;
    margin-left: 6%;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 4px;
    background-color: white;
}

.sub-lt {
    width: 70%;
    float: left;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 40px;
    line-height: 30px;
}

.flex-item {
    background: white;
    float: left;
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    flex: 1 0 0px;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
    width: 100%;
}

.seats {
    display: flex;
    font-weight: bolder;
    word-spacing: 220px;
    color: gray;
}

.fee-text {
    word-spacing: 10px;
}

text {
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    width: 140px;
    padding: 5px;
    height: 30px;
    text-align: center;
}

.but-opt {
    display: flex;
    font-size: bold;
    margin: 10px;
}

.box {
    border: 2px solid red;
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    width: 280px;
    padding: 10px;
    font-weight: bolder;
    margin-right: 16px;
}

.box-one {
    border: 1px solid purple;
    background-color: white;
    color: purple;
    text-align: center;
    justify-content: center;
    width: 40px;
    padding: 10px;
    font-weight: bolder;
}

.sub-rt {
    width: 25%;
}

.cover {
    background-color: white;
    height: 90vh;
}

.emp {
    border: 1px solid greenyellow;
    width: 20px;
    height: 4px;
    background-color: rgb(136, 212, 22);
}

h1 {
    font-family: Times, Times New Roman, Georgia, serif
}

.ba-gb {
    display: flex;
}

p.go {
    border: 2px solid blue;
    color: white;
    text-align: center;
    background-color: blue;
    width: 55px;
    border-radius: 20px;
}

p.ba {
    border: 2px solid green;
    color: white;
    text-align: center;
    background-color: green;
    width: 55px;
    margin-left: 9em;
    border-radius: 20px;
}

.flex-item1 {
    background: white;
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 15%;
}

.flex-item2 {
    background: white;
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 20%;
}

.flex-item3 {
    background: white;
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 20px 2px 2px 20px;
    height: 40px;
    width: 15%;
}

.flex-item4 {
    background: white;
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 20px 2px 2px 20px;
    height: 40px;
    width: 20%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-color: yellow;
    border-radius: 50%;
    display: inline-flexbox;
}

.rcorners1 {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-weight: bolder;
    margin: 5px;
    padding: 20px;
    padding-top: 5px;
    width: 130px;
    height: 12px;
}

@media only screen and (max-width:600px) {
    .row {
        width: 100%;
        font-size: 0.5em;
    }
    .cl-left {
        width: 100%;
        font-size: 0.5em;
    }
    .cl-right {
        width: 100%;
        font-size: 0.5em;
    }
}

footer {
    background: rgb(70, 67, 67);
    height: 40vh;
    margin-top: 20px;
}

.ft-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.rtv {
    border: 2px solid red;
    text-align: center;
    width: 120px;
    height: 40px;
    color: white;
    margin: auto;
    display: fixed;
    position: inline;
    background-color: red;
}

footer {
    position: fixed;
    bottom: 0;
}

.footer-distributed {
    position: relative;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}